@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-orbitron: "Orbitron", sans-serif;
  --font-great-primer: "IM Fell Great Primer SC", serif;
  --font-inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.glassmorphism {
  /* From https://css.glass */
  background: rgba(170, 20, 240, 0.34);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(170, 20, 240, 0.21);
}

@layer base {
  body {
    @apply font-inter text-white;
  }
}

@layer components {
  .h1 {
    @apply font-orbitron font-bold text-[2.5rem] leading-[3.5rem] sm:text-[3rem] sm:leading-[4rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-[4rem] tracking-wider;
  }

  .h2 {
    @apply font-orbitron font-semibold text-[1.2rem] leading-[1.45] xs:text-[1.35rem] xs:leading-[1.75rem] lg:text-[1.5rem] lg:leading-[2rem] xl:text-[1.75rem] xl:leading-[2.25rem] tracking-wide;
  }

  .p {
    @apply font-light text-white-1 text-sm sm:text-base; 
  }

  .button {
    @apply text-xs sm:text-sm rounded-md tracking-wider bg-[linear-gradient(to_right,rgba(188,60,216,1)0%,rgba(197,75,140,1)100%)] hover:bg-[linear-gradient(to_right,rgba(200,36,236,1)40%,rgba(223,48,141,1)80%)] transition-[background-image] duration-300;
  }
}

@layer utilities {
  .padding {
    @apply sm:p-16 px-6 py-12;
  }

  .yPaddings {
    @apply sm:py-16 py-12; 
  }

  .xPaddings {
    @apply sm:px-16 px-6;
  }

  .topPaddings {
    @apply sm:pt-16 pt-12;
  }

  .bottomPaddings {
    @apply sm:pb-16 pb-12;
  }

  .logo-text {
    @apply font-great-primer text-[1.45rem] leading-[2rem] lg:text-[1.75rem] lg:leading-[2rem] tracking-widest;
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }

  .flexBetween {
    @apply flex justify-between items-center;
  }

  .flexStart {
    @apply flex justify-start items-start;
  }

  .flexEnd {
    @apply flex justify-end;
  }

  .nav-gradient {
    @apply absolute top-0 left-[14%] w-[300px] h-[80px] md:w-[560px] md:h-[100px] bg-purple blur-[100px] md:blur-[125px];
  }

  .gradient-1 {
    @apply absolute top-0 left-0 w-[200px] h-[438px] bg-purple blur-[190px];
  }

  .gradient-2 {
    @apply absolute top-0 right-0 w-[200px] h-[438px] bg-purple blur-[190px];
  }

  .active-nav {
    @apply pointer-events-none font-bold bg-clip-text text-transparent bg-[linear-gradient(to_right,rgba(200,36,236,1)40%,rgba(223,48,141,1)80%)];
  }
}